.blog-page {
    .hero {
        background-image: url(../img/bg-image.jpg);
        background-size: cover;
        background-position: center center;
        min-height: 600px;
        padding-top: 100px;
        margin: 45px 0 90px;
    
        &__title {
            max-width: 770px;
            font-weight: 600;
    
            @media (max-width: $mobile) {
                max-width: none;
                font-size: 30px;
                margin: 70px 0 90px;
            }
        }
    }
    
    .blog {
        &__item {
            display: flex;
            gap: 30px;
            margin-bottom: 50px;
    
            @media (max-width: $mobile) {
                flex-direction: column-reverse;
            }
        }
    
        &__item:nth-child(2) {
            flex-direction: row-reverse;
    
            @media (max-width: $mobile) {
                flex-direction: column-reverse;
            }
        }
    
        &__img {
            max-width: 570px;
    
            @media (max-width: $tablet) {
                width: 50%;
            }
    
            @media (max-width: $mobile) {
                max-width: none;
                width: 100%;
            }
        }
    
        &__description {
            margin: 63px 0 30px;
        }
    
        &__item-title {
            font-weight: 500;
            margin-bottom: 15px;
            max-width: 369px;
    
            @media (max-width: $mobile) {
                max-width: none;
            }
        }
    
        &__item-text {
            margin-top: 50px;
            max-width: 448px;
    
            @media (max-width: $mobile) {
                max-width: none;
            }
        }
    
        &__item-text::after {
            content: '→';
            font-size: 23px;
            padding-left: 11px;
        }
    
        &__title {
            margin-bottom: 50px;
    
            @media (max-width: $mobile) {
                text-align: center;
            }
        }
    }
    
    .posts {
        &__title {
            font-weight: 600;
            font-size: 28px;
            line-height: 46px;
            
        }
    
        &__item {
            @media (max-width: $tablet) {
                display: flex;
            }
    
            @media (max-width: $mobile) {
                flex-direction: column;
            }
        }
    
        &__item:nth-child(2) {
            @media (max-width: $tablet) {
                flex-direction: row-reverse; 
            }
    
            @media (max-width: $mobile) {
                flex-direction: column;
            }
            }
    
        &__item-title {
            font-family: $main-fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 37px;
            letter-spacing: 0.1em;
            color: $color-black;
            max-width: 370px;
            margin-bottom: 20px;
    
        }

        &__view {
            cursor: pointer;
        }

        &__view:hover {
            scale: 1.2;
            color: $color-black;
        }
    
        &__view::after {
            content: '→';
            font-size: 20px;
            padding-left: 20px;
        }
    
        &__container-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 95px 0 55px;
    
            @media (max-width: $mobile) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    
        &__row {
            display: flex;
            gap: 30px;
            margin-bottom: 90px;
    
            @media (max-width: $tablet) {
                flex-direction: column;
            }
            
        }
    
        &__text {
            @media (max-width: $tablet) {
                margin-left: 20px;
            }
        }
    
        &__text-container {
            display: flex;
            justify-content: space-between;
            margin: 25px 0;
    
            @media (max-width: $tablet) {
                justify-content: normal;
            }
    
            @media (max-width: $mobile) {
                justify-content: space-between;
            }
        }
    
        &__img {
            max-height: 246.81px;
            
            &--width {
                width: 91%;
            }
    
            @media (max-width: $tablet) {
                width: 50%;
            }
    
            @media (max-width: $mobile) {
                width: 100%;
                max-height: none;
            }
        }
        
    
        &__date {
            @media (max-width: $tablet) {
                margin-left: 150px;
            }
    
            @media (max-width: $mobile) {
                margin: 0;
            }
        }
        
    }
    
    .popular {
        &__title {
            font-weight: 600;
            font-size: 28px;
            line-height: 46px;
            
        }
    
        &__item-title {
            font-family: $main-fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 37px;
            letter-spacing: 0.1em;
            color: $color-black;
            max-width: 370px;
            margin-bottom: 20px;
            max-width: 570px;
    
            @media (max-width: $tablet) {
                max-width: 340px;
            }
    
        }

        &__view {
            cursor: pointer;
        }

        &__view:hover {
            scale: 1.2;
            color: $color-black;
        }
    
        &__view::after {
            content: '→';
            font-size: 20px;
            padding-left: 20px;
        }
    
        &__container-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 95px 0 55px;
    
            @media (max-width: $mobile) {
                flex-direction: column;
                align-items: flex-start;
                margin: 70px 0 30px;
            }
        }
    
        &__row {
            display: flex;
            gap: 30px;
            margin-bottom: 90px;
    
            @media (max-width: $mobile) {
                flex-direction: column;
            }
        }
    
        &__text-container {
            display: flex;
            justify-content: space-between;
            margin: 25px 0;
        }
    
        &__img {
            min-height: 266.54px;
        }
    
        &__button {
            display: block;
            margin: 0 auto;
        }
        &__button-container {
            width: 100%;
        }
    
        &__flex-container {
            display: flex;
            justify-content: space-between;
            margin: 90px 0;
    
            @media (max-width: $tablet) {
                flex-direction: column;
            }
        }
    
        &__sub-title {
            position: relative;
            max-width: 470px;
    
            @media (max-width: $tablet) {
                max-width: 700px;
                margin-bottom: 70px;
            }
        }
    
        &__sub-title::after {
            content: '→';
            font-size: 20px;
            position: absolute;
            top: 38%;
            left: 0%;
    
            @media (max-width: $tablet) {
                top: 80%;
            }
        }
    
        &__sub-text {
            max-width: 470px;
    
            @media (max-width: $tablet) {
                max-width: none;
            }
        }
    
    }
    }