.home-page {
    .scroll-gallery {
        &__title {
            max-width: 709px;
            margin: 128px 0;

            @media (max-width: $tablet) {
               margin: 128px 0 40px; 
            }
            
        }

        &__img {
            max-width: 544px;
            min-width: 544px;
        }

        &__box {
            display: flex;
            gap: 32px;
            overflow: scroll;
            overflow-y: none;
            margin-bottom: 171px;
            
            @media (max-width: $tablet) {
                margin-bottom: 107px;
            }
            

            &::-webkit-scrollbar {
                display: hidden;
            }

        }

    }

    .designer {
        &__flex-box {
            display: flex;
            justify-content: space-between;

            @media (max-width: $tablet) {
                flex-direction: column;
            }
        }

        &__flex-box-item-1 {
            max-width: 430px;
        }

        &__flex-box-item-2 {
            max-width: 480px;
        }

        &__title {
            position: relative;

            &::after {
            content: "→";
            font-size: 20px;
            position: absolute;
            top: 74%;
            left: 0%;
            
            @media (max-width: $tablet) {
               top: 100%; 
            }
                      
            }

            @media (max-width: $tablet) {
                margin-bottom: 76px;
            }
        }

        &__text:first-child {
            margin-bottom: 30px;
        }
    }

    .latest-posts {
        &__title {
            font-weight: 600;
            font-size: 28px;
            line-height: 46px;
            
        }
    
        &__item {
            @media (max-width: $tablet) {
                display: flex;
            }
    
            @media (max-width: $mobile) {
                flex-direction: column;
            }
        }
    
        &__item:nth-child(2) {
            @media (max-width: $tablet) {
                flex-direction: row-reverse; 
            }
    
            @media (max-width: $mobile) {
                flex-direction: column;
            }
            }
    
        &__item-title {
            font-family: $main-fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 37px;
            letter-spacing: 0.1em;
            color: $color-black;
            max-width: 370px;
            margin-bottom: 20px;
    
        }
    
        &__view::after {
            content: '→';
            font-size: 20px;
            padding-left: 20px;
        }
    
        &__container-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 95px 0 55px;
    
            @media (max-width: $mobile) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    
        &__row {
            display: flex;
            gap: 30px;
            margin-bottom: 90px;
    
            @media (max-width: $tablet) {
                flex-direction: column;
            }
            
        }
    
        &__text {
            @media (max-width: $tablet) {
                margin-left: 20px;
            }
        }
    
        &__text-container {
            display: flex;
            justify-content: space-between;
            margin: 25px 0;
    
            @media (max-width: $tablet) {
                justify-content: normal;
            }
    
            @media (max-width: $mobile) {
                justify-content: space-between;
            }
        }
    
        &__img {
            max-height: 246.81px;
            
            &--width {
                width: 91%;
            }
    
            @media (max-width: $tablet) {
                width: 50%;
            }
    
            @media (max-width: $mobile) {
                width: 100%;
                max-height: none;
            }
        }
        
    
        &__date {
            @media (max-width: $tablet) {
                margin-left: 150px;
            }
    
            @media (max-width: $mobile) {
                margin: 0;
            }
        }
        
    }
}