.form {
    &__title {
        display: block;
        font-family: $sub-fonts;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.05em;
        
    }

    &__fields {
        border-bottom: 1px solid $color-black;
        margin: 16px 0 56px;
        padding: 9px;
    }

    &__input {
        font-family: $sub-fonts;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.1em;
            color: $color-grey-500;
           
            display: block;
            width: 100%;
           
            

        &::placeholder {
            font-family: $sub-fonts;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.1em;
            color: $color-grey-500;
            
            
           
        }
    }

    &__select {
        font-family: $sub-fonts;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: $color-grey;
    border-bottom: 1px solid $color-black;
    padding: 0 0 9px 3px;
    margin: 16px 0 56px;
    width: 100%;
    }
}